:root {
background-color: #f0f0f0 ;
/* Initiative relative font size */
 font-size: 62.5%;
}

/* Sets values across all pages */
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}
/* Sets alll head tags to have set minimum spacing beneath them */
h1,
h2,
h3,
h4 {
 margin-bottom: 1rem;
}
/* Formmating for h1 */
h1{
    font-size: 5.4rem;
    color: green;
    margin-bottom: 5rem;
}
/* Wrapper for h1 tags */
h1 > span{
 font-size: 2.4rem;
 font-weight: 500;
}
/* Formating for h2 tags */
h2{
 font-size: 4.2rem;
 margin-bottom: 4rem;
 font-weight: 700;
}
/* formatting for h */
h3{
    font-size: 2.8rem;
    font-weight: 500;
}
/* Centers all items on screen */
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

/* maintains width for all containers */
.container > * {
    width: 100%;
}

/*  Other css Classes*/

.flexColumn{
 display: flex;
 flex-direction: column;
}

.flexCenter{
    justify-content: center;
    align-items: center;
}

.textCenter{
 text-align: center;
}

.justifyCenter{
    justify-content: center;
}

.hidden{
    display: none;
}

/* Button styling */

.btn{
    font-size: 1.8rem;
    padding: 1rem 0 ;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid green;
    border-radius: 15px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: green;
    background-color: #f0f0f0;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0.04rem 0.4rem 0 rgba(2, 95, 47, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}